/**
* Accordeon
*/
.accordeon{
    display: flex;

}
details{
    display: flex;
    width: 100px;
    overflow: hidden;
    transition: width 2s;
    padding-left: 20px;
    position: relative;
}

details[open] {
    /* ouvert */
    width: calc(100px + 20rem);
   
}

.accordeon>details>summary {
    list-style: none;
}

.accordeon>details>summary::marker,
.accordeon>details>summary::-webkit-details-marker {
    display: none;
}
